.container {
    margin: 0rem 15rem;
}

/* -----navbar started------ */
.container-nav {
    border-bottom: 1px solid var(--color-dark);
    gap: 25rem;
}

.nav {
    font-size: 1.5rem;
}


/* ------- box-1 started------ */
.container-1 {
    margin: 8rem 15rem;
}

.head-1 {
    margin-bottom: 4rem;
}

.para-1 {
    font-size: 1.6rem;
}



/* ------- box-2 started------ */
.div-2 {
    margin-bottom: 5rem;
}

.container-2 {
    margin: 0rem 15rem;
}

.child-2 {
    gap: 6.5rem;
}

.para-2 {
    font-size: 1.6rem;
}


/* ------- box-3 started------ */
.container-3 {
    margin: 3rem 15rem;
}

.parent-3 {
    margin: 5rem 0rem;
}

.para-3 {
    font-size: 1.4rem;
}

/* ------- box-4 started------ */
.child-4 {
    width: 40rem;
    height: 44rem;
    background-color: var(--color-dark);
    border-radius: 2rem;
}

.head-4 {
    font-size: 1.5rem;
}

.para-4 {
    font-size: 1.3rem;
}



